<!doctype html>
<html>
  <head>
    <!--
    authentication and album listing app example based on the Spotify Quick-Start Guide and repo;
    https://developer.spotify.com/documentation/web-api/quick-start/
    https://github.com/spotify/web-api-auth-examples
    -->
    <title>SpotiAlbumLister</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <div class="container" id="main-container">
      <div id="login">
        <h1>Welcome to SpotiAlbumLister.</h1>
        <h1>Please log in to continue.</h1>
        <a href="/login" class="btn btn-primary" id="spot-button">Do it! (using Spotify API)</a>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        <div id="playlists-panel">
            <div class="row">
                <!--categories div-->
                <!--
                <div class="col-sm-4" id="playdiv-cats">
                    <h2>CATEGORIES</h2>
                    <ul id="catbuttons" class="list-inline"> 
                      <li><a>pop</a></li>
                      <li><a>h</a></li>
                      <li><a>rock</a></li>
                      <li><a>electronica</a></li>
                      <li><a>classical</a></li>
                    </ul>
                </div>
                -->
                <!--new div-->
                <div class="col-sm-6 hover-col-header" id="playdiv-new">
                  <h2>NEW RELEASES</h2>
                  <div id="new-releases-info"></div>
                </div>

                <!--featured div-->
                <div class="col-sm-6 hover-col-header" id="playdiv-featured">
                  <h2>FEATURED LISTS</h2>
                  <div id="featured-lists-info"></div>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" id="user-info-panel">
      <script id="user-profile-template" type="text/x-handlebars-template">
        <!--<h1>Welcome, itc</h1>-->
        <div class="media-top">
          <div class="pull-left">
            <img class="media-object" id="expandable-pic" width="100" src="{{images.0.url}}" />
          </div>
          <div class="media-body" id="user-data-div">
            <dl class="dl-horizontal">
              <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
              <dt>Email</dt><dd>{{email}}</dd>
              <dt>Country</dt><dd>{{country}}</dd>
            </dl>
          </div>
        </div>
      </script>
      <script id="playlist-info-template" type="text/x-handlebars-template">
        <div id="playlist-info">
            <div class="featured_lists"></div>
                {{#each playlists.items}}
                <div class="playinfo">
                <div class="media-top">
                    <div class="pull-left">
                      <img class="media-object album-pic" width="130px" src="{{this.images.0.url}}" />
                    </div>
                </div>
                <div class="media-body" class="playlist-data-div">
                      <h3>{{this.name}} (by&nbsp;{{this.owner.display_name}})</h3>
                </div>
                </div>
                {{/each}}
              </div>
        </div>
      </script>

      <script id="nr-info-template" type="text/x-handlebars-template">
        <div id="newreleases-info">
            <div class="nr_lists"></div>
                {{#each albums.items}}
              <div class="playinfo-nr">
                <div class="media-top">
                    <div class="pull-left">
                      <img class="media-object album-pic" width="130px" src="{{this.images.0.url}}" />
                    </div>
                </div>
                <div class="media-body" class="playlist-data-div">
                  <div class="col-sm-12">
                      <h3>{{this.name}}</h3>
                  </div>
                  <div class="col-sm-12">
                      {{#if artists.[2].name}}
                      <h5>{{this.album_type}} by {{this.artists.[0].name}}, {{this.artists.[1].name}}, et al.</h5>
                      {{else}}
                        {{#if artists.[1].name}}
                          <h5>{{this.album_type}} by {{this.artists.[0].name}} &amp; {{this.artists.[1].name}}</h5>
                        {{else}}
                        <h5>{{this.album_type}} by {{this.artists.[0].name}}</h5>
                        {{/if}}
                      {{/if}}
                  </div>    
                </div>
              </div>
                {{/each}}
              </div>
        </div>
       
      </script>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
      (function() {

        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var e, r = /([^&;=]+)=?([^&;]*)/g,
              q = window.location.hash.substring(1);
          while ( e = r.exec(q)) {
             hashParams[e[1]] = decodeURIComponent(e[2]);
          }
          return hashParams;
        }

        //setup the info panel to hide
        $('#user-profile').mouseenter(function () {
          $('#user-profile').fadeTo(200, 0.0)      
        });
        $('#user-profile').mouseleave(function () {
          $('#user-profile').fadeTo(400, 1.0);      
        });
        //onhover for the two columns
        $('.hover-col-header').hover(
          function() {
            //console.log($(this).children('h2'));
              $(this).children('h2').animate({
                  'color': '#6AE368'
              }, 'slow');
          }, 
          function() {
            $(this).children('h2').animate({
                  'color': '#ffffff'
              }, 'fast');
          }
      );
        var userProfileSource = document.getElementById('user-profile-template').innerHTML,
            userProfileTemplate = Handlebars.compile(userProfileSource),
            userProfilePlaceholder = document.getElementById('user-profile');

        var params = getHashParams();

        var access_token = params.access_token,
            refresh_token = params.refresh_token,
            error = params.error;

        if (error) {
          alert('There was an error during the authentication');
        } else {
          if (access_token) {
            // render oauth info
            $.ajax({
                url: 'https://api.spotify.com/v1/me',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
                  userProfilePlaceholder.innerHTML = userProfileTemplate(response);

                  $('#login').hide();
                  $('#loggedin').show();
                }
            });


          var listInfoSource = document.getElementById('playlist-info-template').innerHTML,
          listInfoTemplate = Handlebars.compile(listInfoSource),
          listInfoPlaceholder = document.getElementById('featured-lists-info');
          var newReleasesInfoSource = document.getElementById('nr-info-template').innerHTML,
          newReleasesInfoTemplate = Handlebars.compile(newReleasesInfoSource),
          newReleasesInfoPlaceholder = document.getElementById('new-releases-info');

          //GET DEFAULT FEATURED PLAYLISTS
          $.ajax({
              url: 'https://api.spotify.com/v1/browse/featured-playlists',
              type: 'GET',
              headers: {
                  'Authorization' : 'Bearer ' + access_token
              },
              success: function(data) {
                  console.log(data);
                  listInfoPlaceholder.innerHTML = listInfoTemplate(data);

              },
              error: function(){
                  console.log("error getting featured-playlists");
              }
          });
          
          //GET NEW RELEASES
          $.ajax({
              url: 'https://api.spotify.com/v1/browse/new-releases',
              type: 'GET',
              headers: {
                  'Authorization' : 'Bearer ' + access_token
              },
              success: function(data) {
                  console.log(data);
                  newReleasesInfoPlaceholder.innerHTML = newReleasesInfoTemplate(data);
              },
              error: function(){
                  console.log("error getting new-releases");
              }
          });

          } else {
              // render initial screen
              $('#login').show();
              $('#loggedin').hide();           
          }
        }
      })();
    </script>
  </body>
</html>

