body{
  background-color: #111111;
}
#main-container{
  background-color: #111111;  
  color: #ffffff;
  height: 100%;
}
#login, #loggedin {
  display: none;
}
#login{
  margin-bottom: 1em;
}
#playdiv-new{
  background-color: #111111;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
#user-profile{
  position: fixed;
  bottom: 0;
  border-radius: 10px;
  background-color: #000000;
  right: -10px;
  z-index: 99;
}
.dl-horizontal dd
{
  padding-right: 2em;
}
.button-primary{
  color: #ffffff;
  background-color: #1db954;
}
#expandable-pic{
  border: 1px solid #333333;
  margin-left: 10px;
  clear: both;
  border-radius: 100px;
}
#catbuttons {
  text-align: justify;
}
#catbuttons li {
  display: inline-block;
}
#catbuttons:after {
  content: '';
  width: 100%;
  display: inline-block;
}
#catbuttons li:hover {
  background-color: #111111;
}      
h2{
  text-align: center;
}
.playinfo {
  width: 100%;
  display: flex;
  position: relative;
  height: 100%;
}
.playinfo-nr{
  width: 100%;
  display: flex;
  position: relative;
  height: 100%;
  align-items: center; 
}
.album-pic{
  margin-left: 10px;
  clear: both;
  border-radius: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.playinfo .media-body{
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.playinfo h3{
  padding: 0;
  margin: 0 0 0 0;
  margin-left: 0.5em;
}
.playinfo-nr h3{
  padding: 0;
  margin: 0 0 0 0;
  margin-left: 1vw;
}
.playinfo-nr h5{
  padding: 0;
  margin: 0 0 0 0;
  margin-left: 1vw;
}
#featured-lists-info .playinfo:nth-child(even) {
  background: #333333;
}
#featured-lists-info .playinfo:nth-child(odd) {
  background: #666666;
}
#new-releases-info .playinfo-nr:nth-child(even) {
  background: #333333;
}
#new-releases-info .playinfo-nr:nth-child(odd) {
  background: #666666;
}
#new-releases-info{
  padding-right: 0.5em;
}
#featured-lists-info{
  padding-left: 0.5em;
}
#playlists-panel .col-sm-6{
  padding: 0;
}
#spot-button{
  background-color: #1db954;
}